@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background-image: radial-gradient(circle, #f6f6f6, #f1f1f1, #ecebeb, #e7e6e5, #e1e1e0);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

.add-tarefas {
    border: 1px solid #f1f1f1;
}

.btn-add {
    height: 4vh;
    border: none;
}

li {
    list-style-type: none;
}